body{
    margin:0;
    padding:0;
    background-color: #1b1b1b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:space-between
}
#monica-content-root {
    display: none !important;  /* This hides the element */
  }
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    gap:300px;
    background-color: #1b1b1b;
}
#name{
    margin-top:30px;
    color:white;
    margin-left:10px;
}
.nav-links{
    list-style: none;
    display:flex;
    justify-content:space-evenly;
    padding:0;
    top:0;
    margin-top:30px;
    margin-left:20px;
    gap:2px;
}
.menu-icon{
    display:none;
    color:white;
    position: fixed;
    left:0;
    top:10px;
}
.menu-icon:hover{
    color: #03DAC6;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.nav-links li a:hover {
    color: #03DAC6;
}

/* Hide the checkbox */
#menu-toggle {
    display: none;
}
@media screen and (max-width: 739px) {
    .navbar{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        height:150px;
        top: 30px; /* Adjust based on your navbar height */
        margin-left: 0;
        background-color: #333;
        overflow:hidden;
        max-height: 0px;
        transition: max-height 0.6s ease-in-out;
        z-index:1;
    }
    .nav-links li{
        margin-left: 10px;
    }

    .menu-icon {
        display:block;
        position:absolute;
        top:27px;
        margin-left:20px;
    }
    #menu-toggle:checked + .menu-icon + .nav-links {
        max-height: 300px; /* Adjust based on the number of links */
    }
    #name{
        margin-right:5vw;
    }
}
.des{
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    gap:20px;
}
img{
    height:200px;
    width:200px;
    border-radius:50%;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.5);;
}
.desc{
    display:inline-flex;
    flex-direction: column;
    justify-content:center;

}
#intro{
    color:white;
    width:50vw;
}
h1{
    color:white;
}
h1:hover{
    color:#03DAC6;
    transition: color 0.3s ease;
}
a{
    text-decoration: none;
    color:#03DAC6;
}
a:hover{
    color:rgb(83, 83, 241)
}
@media screen and (max-width: 600px){
    .des{
        padding:30px;
        display: flex;
        flex-direction: column;

    }
    #intro{
        width:70vw;
        text-align: center;
        color:white;
    }
    h1{
        text-align: center;
    }
    a{
        text-align:center;
    }

}
.social{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    gap:20px;
    margin-top:0px;


}
li{
    list-style: none;
}
#insta{
    color:rgb(238, 69, 126)
}
#twitter{
    color:rgb(66, 159, 240)
}
#git{
    color: rgb(233, 255, 255);
}
#linkdin{
    color:rgb(67, 110, 209);
}
#insta:hover{
    color:rgb(219, 130, 159);
    transition: color 0.3s ease;
}
#twitter:hover{
    color:rgb(118, 182, 237);
    transition: color 0.3s ease;
}
#git:hover{
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}
#linkdin:hover{
    color:skyblue;
    transition: color 0.3s ease;
}
#rights{
    color:rgb(247, 34, 34);
}
footer {
    background-color: #1f1f1f;
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    height:60px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom:0px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #03DAC6; 
}

.rights {
    font-size: 0.9rem;
    color:#ffffff;
}